/* ######################################################## */
/* RULES ################################################## */
/* ######################################################## */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.absent {
    display: none;
}

header nav {
    width: 40%;
}

header nav ul li a {
    text-decoration: none;
}
/* Fin Header */

/* Footer */
footer div {
    font-size: 2em;
    padding: 1%;
    background-color:rgb(12, 60, 100);
}

footer p {
    padding: 2% 5%;
    background: rgb(36, 139, 147);
}
/* Fin Footer */

/* ######################################################## */
/* INDEX ################################################## */
/* ######################################################## */

/* Slider */
/* slider-wrapper */
.slider-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 40vw;
    max-height: 500px;
    min-height: 300px;
    background: #ddd;
    overflow: hidden;
  }
  
  .slider-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* slider-img */
  ul.slider-img {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 0.5s;
  }
  
  ul.slider-img li {
    flex: 1 0 100%;
  }
  
  ul.slider-img li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* Slider text */
  .slider-text{
      z-index: 15;
      color: white;
      position: relative;
  }
  /* slider-arrow */
  ul.slider-arrow {
    position: relative;
    color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  
  @media screen and (min-width: 768px) {
    ul.slider-arrow {
      font-size: 2.5rem;
    }
  }
  
  ul.slider-arrow li {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    padding: 0 15px;
    opacity: 0.4;
    transition: 0.5s;
  }
  
  ul.slider-arrow li:hover {
    opacity: 1;
  }
  
  /* slider-dot */
  .slider-dot {
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  
  .slider-dot li {
    cursor: pointer;
    margin: 0 8px;
    font-size: 0.6rem;
    opacity: 0.4;
  }
  
  .slider-dot li.active {
    opacity: 1;
  }
  
  @media screen and (min-width: 768px) {
    .slider-dot li {
      margin: 0 12px;
      font-size: 0.95rem;
    }
  }
/* Fin Slider */

/* Navbar */

.main-nav {
    list-style-type: none;
    display: none;
}
.actif {
    display: block;
}
.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
}
@media screen and (min-width: 1024px) {
    .navbar {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 0;
        align-items: center;
    }
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
   .navbar-toggle {
       display: none;
    }
}

/* ######################################################## */
/* EQUIPE ################################################# */
/* ######################################################## */


.row {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.width {
    width: 100%;
}

.padding {
    padding: 1%;
}

aside {
    padding: 5% 10%;
    background-color: rgb(36, 139, 147);
    width: 100%;
    line-height: 2em;
    
}

aside ol li a {
    text-decoration: none;
    color: black;
}


/* ######################################################## */
/* FAQ #################################################### */
/* ######################################################## */

@media screen and (min-width: 768px) {

    aside {
        width: 30%;
        padding: 3%;
        border-radius: 10px;
    }

     article {
         width: 60%;
     }

     article div {
         line-height: 2em;
     }
    }
}
/*GoToTop*/


.toTop {
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: 50px;
    right: 50px;
    display: none;
    background-color: transparent;
    color: rgb(12, 60, 100);
    font-size: 3em;
  }